* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Jost', sans-serif;
    color: #fff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
.header {
    display: flex;
}
.container {
    background: #2c2d3b;
    display: flex;
    width: 100vw;
    height: 100vh;
}
.leftbar {
    width: 280px;
    height: 100vh;
    background: rgba(156, 165, 236, 0.04);
    position: relative;
}
.beeline-logo-header{
    width: 40px;
    height: 9px;
}
.logo-container {
    height: 70px;
    border-bottom: 1px solid #414351;
    padding: 0 0 0 30px;
}
.logo {
    width: fit-content;
    padding-top: 21px;
    display: block;
    color: #fff;
}
.top-logo {
    display: flex;
    justify-content: space-between;
}
.logo-year {
    font-weight: 500;
    font-size: 11px;
}
.bottom-logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
}
.first-menu {
    padding: 30px 0px 7px 0px;
    border-bottom: 1px solid #414351;
    overflow: auto;
    max-height: calc(100vh - 206px);
}
.first-menu-list {
    padding-bottom: 13px;
    position: relative;
    cursor: pointer;
}
.first-menu-list-from-top {
    display: none;
}
.first-menu-link {
    font-weight: 400;
    font-size: 14px;
    padding: 0 30px;
    transition: all 0.2s;
}
.first-menu-list:hover .first-menu-link {
    color: #6F6EFF;
}
.arrow-link {
    top: 7px;
    right: 30px;
    position: absolute;
}
.first-menu-list-label {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}
.second-menu {
    display: none;
    padding-top: 18px;
}
.checkbox-second-menu {
    display: none;
}
.checkbox-second-menu:checked~.second-menu {
    display: block;
}
.second-menu-list {
    padding: 8px 0;
}
.second-menu-list:hover {
    background-color: #373949;
}
.active-list {
    background-color: #373949;
    border-left: 3px solid #6F6EFF;
}
.second-menu-link {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.5;
}
.list-img {
    padding: 0px 26px 0 50px;
}
.active-list .list-img {
    padding: 0px 26px 0 47px;
}
.active-list .second-menu-link {
    opacity: 1;
}
.switcher-mailing {
    position: absolute;
    bottom: 30px;
    font-size: 14px;
    padding: 0 0 0 30px;
    display: flex;
    justify-content: space-between;
    width: 230px;
}
.switcher-text {
    opacity: 0.5;
}
.switcher-checkbox {
    z-index: -1;
    opacity: 0;
}
.switcher-checkbox+label {
    position: relative;
    padding: 0 0 0 50px;
    cursor: pointer;
}
.switcher-checkbox+label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 20px;
    border-radius: 16px;
    background: transparent;
    border: 1px solid #fff;
    transition: .2s;
    opacity: 0.5;
}
.switcher-checkbox+label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: #FFF;
    transition: .2s;
    opacity: 0.5;
}
.switcher-checkbox:checked+label:after {
    left: 22px;
    background: #6F6EFF;
    opacity: 1;
    box-shadow: 0px 0px 10px #6F6EFF;
}
.content {
    width: calc(100vw - 280px);
}
.topbar {
    height: 70px;
    border-bottom: 1px solid #414351;
    display: flex;
    align-items: center;
}
.topbar-nav-menu {
    width: 216px;
    display: flex;
    border-right: 1px solid #414351;
    padding: 0 28px 0 55px;
    justify-content: space-between;
}
.topbar-nav-menu-link {
    opacity: 0.6;
    font-size: 14px;
}
.topbar-nav-menu-link:hover {
    opacity: 1;
}
.right-topbar {
    display: flex;
    justify-content: flex-end;
    width: calc(100vw - 581px);
    align-items: center;
    padding-right: 45px;
}
.logo-container-small {
    display: none;
}
.container-coins {
    display: flex;
    align-items: center;
}
.coins {
    font-size: 13px;
    padding: 3px 9px;
    background: #3b3c4a;
    border-radius: 5px;
    margin-right: 10px;
}
.coins-icon {
    display: flex;
    padding: 3px 9px 3px 3px;
}
.coins-energy {
    display: block;
    height: 18px;
    width: 18px;
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
    background: url(img/icon-1.png) center no-repeat #FF4738;
}
.coins-number {
    display: block;
    font-weight: 600;
    margin-right: 4px;
}
.coins-text {
    display: block;
    font-size: 11px;
    opacity: 0.6;
}
.account-info {
    display: flex;
    margin-left: 4px;
}
.account-info-avatar {
    width: 44px;
    height: 44px;
    background: url(img/mulyadi-kL4coQHVj_A-unsplash.png) center no-repeat;
    margin-right: 13px;
}
.account-info-text {
    flex-direction: column;
}
.account-user {
    display: flex;
    align-items: center;
}
.account-info-name {
    font-size: 14px;
    margin-right: 15px;
}
.account-info-pro {
    font-size: 11px;
    padding: 0px 10px;
    background: #6F6EFF;
    border-radius: 4px;
}
.account-info-status {
    font-size: 13px;
    font-weight: 600;
    color: #24CB8D;
}
.main-content {
    height: calc(100vh - 111px);
    padding: 40px 55px 0 55px;
    overflow: auto;
}
.level {
    font-size: 11px;
    opacity: 0.4;
    text-transform: uppercase;
}
.info {
    display: flex;
    justify-content: space-between;
}
.info-title {
    font-size: 22px;
}
.info-action {
    display: flex;
    justify-content: flex-end;
}
button {
    padding: 0;
    margin: 0;
    font-size: 12px;
    border-radius: 4px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 7px 12px;
}
button:hover {
    background: #817ffc;
}
button:active {
    background: #6462fc;
}
.action {
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.next {
    margin-left: 5px;
}
.back {
    margin-left: 10px;
}
.action:hover {
    background-color: #3b3c4a;
}
.action:active {
    background-color: #262730;
}
.container-quest {
    padding-bottom: 60px;
    overflow: hidden;
}
.items {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    overflow: hidden;
    width: 2088px;
}
.item {
    width: 255px;
    height: 294px;
    border-radius: 6px;
    background: rgba(156, 165, 236, 0.04);
    margin-right: 7px;
}
.item:last-child {
    margin-right: 0px;
}
.item-img {
    width: 255px;
    height: 144px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
}
.item-img1 {
    background: url(img/maik-jonietz-_yMciiStJyY-unsplash.png) no-repeat;
}
.item-img2 {
    background: url(img/ferenc-almasi-NzERTNpnaDw-unsplash.png) no-repeat;
}
.item-img3 {
    background: url(img//pankaj-patel-SXihyA4oEJs-unsplash.png) no-repeat;
}
.item-img4 {
    background: url(img/nick-karvounis-TkZYCXmrKK4-unsplash.png) no-repeat;
}
.item-img-text {
    font-size: 12px;
    padding: 2px 5px;
    background: #6F6EFF;
    position: absolute;
    border-radius: 3px;
    top: 15px;
    left: 15px;
}
.item-text {
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #414351;
    height: 59px;
}
.item-heading {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item-description {
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    height: 38px;
}
.item-footer {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.item-date {
    font-size: 13px;
}
.item-button {
    font-size: 13px;
    padding: 8px 16px;
}